<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="conteiner">
        <header>
            <div class="nav-left">
                <h1><a href="/">Django Blog</a></h1>
            </div>
            <div class="nav-right">
                <a href="{% url 'post_new' %}">+ New Blog Post</a>
            </div>
        </header>

        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>