<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1><a href="/">Django Blog</a></h1>
        </div>
        <div class="accaunts">
            {% if user.is_authenticated %}
                    <p>Hi {{ user.username }}</p>
                    <p><a href="{% url 'logout' %}">Logout</a></p>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'signup' %}" class="signup">Sign Up</a>
                {% endif %}
        </div>
    </header>

        {% block content %}
        {% endblock content %}
</body>
</html>